* {
margin: 0px;
padding: 0px;
background-color: lightsteelblue;
}

body{
background: color #F9F54B    
}

header {
color: whitesmoke;
justify-content: right;
align-content: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 50 px
}

.title {
background-color: lightsteelblue;
color: whitesmoke;
justify-content: right;
display: flex;
align-content: center;
padding-right: 15px;
}

.Nav-Bar {
display: inline;
width: 33.3%;
border: 1px dashed gray;
color: white;
flex: 1 0 33.3%;
align-content: right;
padding-left: 10px;
}
  
li {
display: inline;
margin: 25px
}

#about-me-section {
display: flex;
}

#about-me-section img {
  width: 50%;
}

#about-me-blurb {
width: 50%;
display: flex;
justify-content: center;
align-items: center;
text-align: left;
}

#hello {
display: flex;
justify-content: center;
align-items:  center;
text-align: left;

}

.hello, .work {
  border: dashed 0.5px;
  border-color:aliceblue;
  margin-top: 50px;
}

#intro {
color:whitesmoke;
padding: 5px;
}

#work{
display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
}

.sec-header{
font-size: 20px;  
font-weight: bold;
padding: 5px;
border: solid 1px aliceblue;
margin: 25px;
}

.small-project img {
width: 400px;
height: 200px;
}

.featured-project img {
width: 100%;  
}

.featured-project h3 {
padding: 5px;  
}

main {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 25px; 
display: flex;
flex-direction: column;
align-items: center;
}
  
h2 {
color: whitesmoke
}

h3{
color: whitesmoke
}

h4 {
color: whitesmoke
}

footer {
background-color: lightsteelblue;
color:whitesmoke;
text-align: center;
}

@media screen and (max-width: 992px) {
* {
background-color: red;
  }
}
  
@media screen and (max-width: 768px) {
* {
background-color: red;
}
}


@media screen and (max-width: 576px) {
* {
background-color: red;
}
} 