* {
margin: 0px;
padding: 0px;
background-color: lightsteelblue;
}

body{
  background: color #F9F54B    
}

header {
    color: whitesmoke;
    justify-content: right;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50 px
  }

.title {
    background-color: lightsteelblue;
    color: whitesmoke;
    justify-content: right;
    display: flex;
    align-content: center;
    padding-right: 15px;
}
#about-me-section {
display: flex;
width: 100%;
/* width: 100%; */
/* padding-right: 25px; */
}
#about-me-blurb {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: left;
}

.Nav-Bar {
  display: inline;
  width: 33.3%;
	border: 1px dashed gray;
	color: white;
  flex: 1 0 33.3%;
  align-content: right;
  padding-left: 10px;
}

li {
    display: inline;
    margin: 25px
  }
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin: 25px;
}
  
h2 {
  color: whitesmoke
}

h3{
  color: whitesmoke
}

h4 {
  color: whitesmoke
}

footer {
background-color: lightsteelblue;
color:whitesmoke;
text-align: center;
}

@media screen and (max-width: 992px) {
* {
background-color: red;
width: 33.3%
  }
}
  
@media screen and (max-width: 768px) {
* {
background-color: red;
width: 50%
}
}


@media screen and (max-width: 576px) {
* {
background-color: red;
width: 100%;
}
}