* {
margin: 0px;
padding: 0px;
background-color: #73D8D8;
}

header {
    background-color:#79DAE8; color: whitesmoke;
    justify-content: center;
    align-content: center;
  }
  
body{
  background: color #F9F54B    
  }

main {
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
width: 100%;
flex-wrap: wrap;
}

h2 {
  background-color: palegoldenrod;
  color: #E77471
}


footer {
display: flex;
justify-content: center;
background-color: lightsteelblue;
color:whitesmoke;
}




/* Class Selectors */

.title {
    background-color: lightsteelblue;
    color: whitesmoke;
    justify-content: center;
    display: flex;
    align-content: center;
    padding: 50px auto  
}

.Nav-Bar {
  display: flex;
  text-align: right;
}

.card {
  border: 1px dashed gainsboro ;
}

/* ID Selectors */

@media screen and (max-width: 992px) .card {
	width: 50%;
}

@media screen and (max-width: 768px) .card {
	width: 100%;
}

